@page "/articles/{id}"
@using BlazorProject.Data
@using Microsoft.EntityFrameworkCore
@inject NewsContext _NewsContext
@attribute [StreamRendering]

@if (article == null)
{
    <PageTitle>Articles</PageTitle>
}
else
{
<PageTitle>@article.Title</PageTitle>
}


@if (article == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>@article.Title</h1> 
    @* <p><em>@article.Author.Name</em></p> *@
    <p>@article.Content</p>
}

@code {
    private BlazorProject.Data.Article? article;

    [Parameter] public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        article = await _NewsContext.Articles.FirstOrDefaultAsync(article => article.ArticleId == Convert.ToInt32(Id));
    }
    

}