@page "/articles"
@using BlazorProject.Data
@using Microsoft.EntityFrameworkCore
@inject NewsContext _NewsContext
@attribute [StreamRendering]

<PageTitle>Articles</PageTitle>

<h1>Articles</h1>

@if (articles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var article in articles)
        {
            <a href="/articles/@article.ArticleId"><h3>@article.Title</h3></a>
            <p><em>@article.Author.Name</em></p>
            <p>@article.Content</p>
        }
}

@code {
    private BlazorProject.Data.Article[]? articles;
    
    protected override void OnInitialized()
    {
        articles = _NewsContext.Articles.Include(article => article.Author).ToArray();
    }
    

}